.categoria .section-title{
    width: 312px;
    margin: 0 auto;
}

.section-title{
    padding-top: 88px;
    padding-bottom: 32px;
}
.categorias-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 64px;
}

.categorias-cards a.card{
    width: 312px;
    height: 220px;
    background-color: var(--backgroud-secondary-color);
    text-align: center;
    padding: 24px;
    border-radius: 16px;
    box-sizing: border-box;
    text-decoration: none;
    color: var(--text-primary-color);
}

.categorias-cards .carde h3{
    font-size: 28px;
    font-weight: var(--title--weight);
}

.trasfer{
    margin: 10px 0 20px;
}

/* telas de desktop */
@media screen and (min-width:768px){
    .categorias .section-title{
        width: 100%;
    }
    .categorias-cards{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
  
}

@media screen and (min-width:1024px){
    .categorias-cards .carde{
        width: 480px;
    }

}

@media screen and (min-width:1440px){
    .categorias-cards .carde{
        width: 280px;
    }

}
    